#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
body {
  background-color: lavender;
}
img.resize {
  max-width:50%;
  max-height:50%;
}
img.rotate90 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
#greeting-container {
  margin-top: 20px;
} 

.textarea { width: 90px; 
    height: 390px; 
    border: 1;
    padding: 5px; 
}

#comments-container {
  list-style-type: none;
}

.comment {
  border: thin solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 600px;
}

.comment span {
  flex-grow: 1;
}
